name: Test install-dolfinx action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

jobs:
  test-installation:
    runs-on: "ubuntu-latest"
    env:
      working-directory: ./src
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_plm: ssh
      OMPI_MCA_plm_ssh_agent: false
      PRTE_MCA_rmaps_default_mapping_policy: :oversubscribe

    strategy:
      matrix:
        image:
          [
            "ghcr.io/fenics/dolfinx/dev-env:v0.10.0-mpich",
            "ghcr.io/fenics/dolfinx/dev-env:v0.10.0-openmpi",
            "ghcr.io/fenics/dolfinx/dev-env:v0.9.0-openmpi",
            "ghcr.io/fenics/dolfinx/dev-env:current-mpich",
            "ghcr.io/fenics/dolfinx/dev-env:current-openmpi",
          ]
        branch: [main, release]
        petsc_arch: [linux-gnu-real64-32, linux-gnu-complex64-32]
        build_mode: [Release, Debug]
        adios2: [default, v2.10.2, v2.11.0]
        exclude:
          - image: "ghcr.io/fenics/dolfinx/dev-env:v0.9.0-openmpi"
            branch: "main"

          - image: "ghcr.io/fenics/dolfinx/dev-env:v0.10.0-openmpi"
            branch: "main"

          - image: "ghcr.io/fenics/dolfinx/dev-env:v0.10.0-mpich"
            branch: "main"

          - image: "ghcr.io/fenics/dolfinx/dev-env:current-mpich"
            branch: "release"

          - image: "ghcr.io/fenics/dolfinx/dev-env:current-openmpi"
            branch: "release"

    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./install-dolfinx
        with:
          dolfinx: ${{ matrix.branch }}
          ufl: ${{ matrix.branch }}
          ffcx: ${{ matrix.branch }}
          basix: ${{ matrix.branch }}
          build_mode: ${{ matrix.build_mode }}
          petsc_arch: ${{ matrix.petsc_arch }}
          adios2: ${{ matrix.adios2}}
          working-directory: ${{ env.working-directory }}

      - name: Check if DOLFINx runs
        run: python3 -c "import dolfinx; print(dolfinx.__version__)"

      - name: Check if DOLFINx runs in parallel
        run: mpirun -n 4 python3 -c "from mpi4py import MPI; import dolfinx; print(dolfinx.__version__)"
